@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=${FONTAWESOME_NPM_AUTH_TOKEN}
registry=https://pkgs.dev.azure.com/fxstreet/Master/_packaging/fxs-npm/npm/registry/ 
                        
always-auth=true